* {
    box-sizing: border-box;
}*
  
body {
    margin: 0;
    background-color: #f6f3e5;
    font-family: 'Pirata One', cursive; 
    text-align: center;
}

.forUA {
    top: 92%;
    background-color: transparent;
    padding: 8px 16px;
}
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #124516;
    position: fixed;
    height: 100%;
    overflow: auto;
}
  
nav li a {
    display: block;
    color:black;
    padding: 8px 16px;
    font-size: 5vw;
    text-decoration: none;
    text-transform: lowercase;
}
  
nav li a:hover:not(.active) {
    background-color: #0b2b0d72;
    color: #e65919;
}

img.blart {
    max-width: 200px;
    min-width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img.journal {
    max-width: 800px;
    width: 100%;
    min-width: 25%;
}

p {
    font-family: 'Nanum Myeongjo', serif;
}
 
a {
    color: rgb(244, 107, 48);
    text-decoration: none;
}

div#backtotop {
    background-color: #f6f0d100;
    max-width: 800px;
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
}


div#what {
    background-color: #f6f0d1;
    max-width: 800px;
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
}


div#when {
    background-color: #f6f0d100;
    max-width: 800px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    overflow: auto;
}

div#where {
    background-color: #f6f0d1;
    max-width: 800px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    overflow: auto;
}

div#registry {
    background-color: #f6f0d100;
    max-width: 800px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    overflow: auto;
}


div#contact {
    background-color: #f6f0d1;
    max-width: 800px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    overflow: auto;
}


div#backtotop h1 {
    font-size: 300%;
}

#registry.divbutton {
    width: 100%;

}

.button {
    font-family: 'Pirata One', cursive;
    font-size: 6vw;
    background-color: #f6f0d1;
    border: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 6%;
    padding: 15px 0px 11vw;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 48%;
    overflow: auto;
    cursor: pointer;
}

/*a.button {
    display: block;
}*/

.button#monkey {
    background-image: url("orangutang.png");
    background-repeat: no-repeat;
    background-size: 7vw;
    background-position: center 83%;
}

.button#beaver {
    background-image: url("beaver.png");
    background-repeat: no-repeat;
    background-size: 11vw;
    background-position: center 80%;
}

img#lizard {
    background-image: url("lizardparty.png");
    width: 5vw;
    height: 5vw;
    margin-top: 25px;
    display: inline-block;
    max-width: 40px;
    max-height: 40px
}

span {
    padding-top: 25px; 
}