
body {
    background-color: pink;
}

#banner {
    background-color: rgb(186, 167, 253);
    color: #f3fd98;
    margin-top: 10px;
    text-align: center;
    padding: 100px;
}

#banner h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12em;
}