.banner {
    background-color: rgb(186, 167, 253);
    color: #f3fd98;
    font-size: 6em;
    margin-top: 75px;
    text-align: center;
    padding: 100px;
}

#small-fish {
    height: 300px;
}

#Loooooooserrrr {
    color: #4D00ff;
    font-size: 100px;

}

.bold {
    font-weight: 900

}

body {
    background-color: pink;
}